        <div id="menu" class="ui grid top inverted menu">
            <div class="computer tablet only row">
        
                <a class="item" href="/">
                    <i class="home icon"></i> Home
                </a>
                <a class="item" href="/movies">
                    <i class="list icon"></i> Movies List
                </a>
                <a class="item" href="/movies/add">
                    <i class="plus icon"></i> Add New Movie
                </a>
                <a class="item" href="/movies/search">
                    <i class="search icon"></i> Search
                </a>
                <div class="right menu">
                    <a class="ui item">
                        <i class="sign in icon"></i> Login
                    </a>
                    <a class="ui item">
                        <i class="add user icon"></i> Sign up
                    </a>
                    <a class="ui item">
                        <i class="sign out icon"></i> Logout
                    </a>
                </div>
            </div>
        
            <div class="mobile only row">
                <div class="ui fluid inverted vertical menu">
                    <div class="item"><i class="sidebar icon"></i></div>
                    <div id="mobileMenu">
                    <a class="item" href="/"><span><i class="home icon"></i> Home</span></a>
                    <a class="item" href="/movies"><span><i class="list icon"></i> Movies List</span></a>
                    <a class="item" href="/movies/add"><span><i class="plus icon"></i> Add New Movie</span></a>
                    <a class="item" href="/movies/search"><span><i class="search icon"></i> Search</span></a>
                    <a class="item" href="#"><span><i class="sign in icon left"></i> Login</span></a>
                    <a class="item" href="#"><span><i class="add user icon"></i> Sign Up</span></a>
                    <a class="item" href="#"><span><i class="sign out icon"></i> Logout</span></a>
                    </div>
                </div>
            </div>
        </div>