<!DOCTYPE html>
<html>
    <head>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Yummy Movies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/homepage.css">
    </head>    
        
    <body>
        <div class="block" style="height: 100%;">
        <div id="content">
            <h1>Yummy Movies</h1>
            <h3>The great list of have to see movies from all over the world!</h3>
            <div class="ui divider"></div>
            <a id="button" class="ui massive orange button" href="/movies"><i class="fa fa-film" aria-hidden="true"></i> Get Started</a>
        </div>
        </div>
    </body>    
</html>